In [116]:
import requests
import os
import re

import pandas as pd
import numpy as np

from bs4 import BeautifulSoup


pd.set_option('display.max_columns', 70)

In [117]:
def get_df_from_url(url):
    # Send a GET request to the website
    response = requests.get(url, headers={"User-Agent": "Mozilla/5.0"})
    response.raise_for_status()  # Ensure the request was successful

    # Parse the HTML content with BeautifulSoup
    soup = BeautifulSoup(response.content, "html.parser")

    # Find the table in the page (you might need to adjust the class or ID if the table is dynamic)
    table = soup.find("table")

    # Extract the headers
    headers = [th.get_text(strip=True) for th in table.find_all("th")]

    # Extract the rows
    rows = []
    for tr in table.find_all("tr")[1:]:  # Skip the header row
        cells = [td.get_text(strip=True) for td in tr.find_all("td")]
        rows.append(cells)


    df = pd.DataFrame(rows, columns=headers)

    return df

In [118]:
# Define the URL
base_url = "https://www.ft.com/ft1000-"
years = [str(num) for num in range(2019, 2025)]

years

['2019', '2020', '2021', '2022', '2023', '2024']

In [119]:

column_names = []
df_list = []

for year in years:
    url = base_url + year

    df = get_df_from_url(url)


    column_name = df.columns.tolist()
    print("Column names:", column_name)


    column_names.append(column_name)
    df_list.append(df)

Column names: ['Rank', 'Company', 'In 2018 list?', 'In 2017 list?', 'Country', 'Sector', 'Absolute revenue growth', 'Revenue CAGR 2014-17', 'Revenue 2017 (€m)', 'Employee growth 2014-17', 'Employees 2017', 'Founded']
Column names: ['Rank', 'Name', 'in 2019 ranking', 'in 2018 ranking', 'Country', 'FT Category', 'Absolute Growth Rate [in %]', 'Compound Annual   Growth Rate (CAGR) [in %]', 'Revenue 2018 [in €m]', 'Revenue 2015 [in €m]', 'Number of   employees 2018', 'Founding Year']
Column names: ['Rank', 'Name', 'in 2020 ranking', 'in 2019 ranking', 'Country', 'FT Category', 'Absolute Growth Rate %', 'Compound Annual Growth Rate (CAGR) %', 'Revenue 2019 €', 'Revenue 2016 €', 'Number of employees 2019', 'Number of employees 2016', 'Founding Year']
Column names: ['Rank', 'Name', 'in 2021 ranking', 'in 2020 ranking', 'Country', 'Sector', 'Absolute Growth Rate %', 'Compound Annual Growth Rate (CAGR) %', 'Revenue 2020 (€)', 'Revenue 2017 (€)', 'Number of employees 2020', 'Number of employees 2017', 'Founding Year']
Column names: ['Rank', 'Name', 'in 2022 ranking', 'in 2021 ranking', 'Country', 'Sector', 'Absolute Growth Rate %', 'Compound Annual Growth Rate (CAGR) %', 'Revenue 2021 (€)', 'Revenue 2018 (€)', 'Number of employees 2021', 'Number of employees 2018', 'Founding Year']
Column names: ['Rank', 'Name', 'Country', 'Sector', 'Absolute Growth Rate (%)', 'Compound Annual Growth Rate (%)', 'Revenue 2022 (€)', 'Revenue 2019 (€)', 'Number of employees 2022', 'Number of employees 2019', 'Founding Year']

In [120]:
cols_to_delete = [
    'In 2018 list?', 
    'In 2017 list?',
    'in 2019 ranking',
    'in 2018 ranking',
    'in 2020 ranking',
    'in 2021 ranking',
    'in 2022 ranking',
    'Employee growth 2014-17',
]

company_names = []
df_list_copy = []



def rename_columns(df, col_names, new_name):
    check = 0
    for col in col_names:
        if check == 1:
            break
        if col in df.columns:
            df.rename(columns={col: new_name}, inplace=True)
            check = 1
    return df

def clean_dataframe_column_names(df):
    """
    Cleans the column names of a DataFrame by:
    - Stripping extra spaces (ensuring a single space between words).
    - Capitalizing the first word of each column name.

    Parameters:
        df (pd.DataFrame): The DataFrame whose column names need cleaning.

    Returns:
        pd.DataFrame: The DataFrame with cleaned column names.
    """
    # Clean each column name
    cleaned_columns = [" ".join(col.split()).title() for col in df.columns]
    # Rename columns in the DataFrame
    df.columns = cleaned_columns
    return df



for df_index, df_val in enumerate(df_list):

    df = df_val.copy(deep=True)


    # print('-'*80)
    # print(df.columns)
    ##################################################
    # rename comapny name
    ##################################################
    col_names = [
        'Company',
        ]
    df = rename_columns(df, col_names, 'Name')


    ##################################################
    # rename revenue growth
    ##################################################
    col_names = [
        'Absolute Growth Rate [in %]',
        'Absolute Growth Rate %',
        'Absolute Growth Rate (%)',
        'Absolute revenue growth',
        ]
    df = rename_columns(df, col_names, 'Absolute Growth Rate')


    ##################################################
    # rename Compound Annual Growth Rate
    ##################################################
    col_names = [
        'Compound Annual Growth Rate (CAGR) %',
        'Compound Annual Growth Rate (%)',
        'Revenue CAGR 2014-17',
        'Compound Annual   Growth Rate (CAGR) [in %]'
        'CAGR'
        ]
    df = rename_columns(df, col_names, 'Compound Annual Growth Rate')


    ##################################################
    # rename sector
    ##################################################
    col_names = [
        'Sector',
        'FT Category',
        ]
    df = rename_columns(df, col_names, 'Sector')


    ##################################################
    # rename founding year
    ##################################################
    col_names = [
        'Founding Year',
        'Founded',
        ]
    df = rename_columns(df, col_names, 'Founded')



    ##################################################
    # Rename columns containing 'employees'
    ##################################################
    df.columns = [
        re.sub(r'(?:[ ]*[Nn]umber[ ]+of[ ]+)?[Ee]mployees[ ]+(\d{4})', r'Employees \1', col, flags=re.IGNORECASE) 
        if 'employees' in col.lower() else col
        for col in df.columns
    ]

    ##################################################
    # Rename columns containing 'revenue'
    ##################################################
    df.columns = [
        re.sub(r'[\[\(].*?[\]\)]|€|[€]', '', col).strip()  # Clean and preserve spaces
        for col in df.columns
    ]

    # print(df.columns)
    
    # print(df.columns)
    df_list_copy.append(df)
    # print(df_list_copy[df_index].columns)
    # print('-'*80)



unique_col_names = []


for df_index, df_val in enumerate(df_list_copy):

    df = df_val.copy()

    ##################################################
    # Delete columns
    ##################################################
    df = df.drop(columns=[col for col in cols_to_delete if col in df.columns])

    df = clean_dataframe_column_names(df)

    # print(df.columns)
    df_list_copy[df_index] = df

    for name in df.columns:
        if name not in unique_col_names:
            unique_col_names.append(name)

# print(unique_col_names)

In [131]:
mega_df_list = []

for df_index, df_val in enumerate(df_list_copy):
    df = df_val.copy()
    for col in unique_col_names:
        if col not in df.columns:
            df[col] = np.nan
    
    df['Year'] = years[df_index]

    mega_df_list.append(df)



master_df = pd.concat(mega_df_list, ignore_index=True)

## Clean up the df

In [132]:
master_df['Sector'] = master_df['Sector'].apply(lambda x: " ".join(str(x).split()).title() if pd.notna(x) else x)

In [133]:
master_df.head()

,Rank,Name,Country,Sector,Absolute Growth Rate,Compound Annual Growth Rate,Revenue 2017,Employees 2017,Founded,Revenue 2018,Revenue 2015,Employees 2018,Revenue 2019,Revenue 2016,Employees 2019,Employees 2016,Revenue 2020,Employees 2020,Revenue 2021,Employees 2021,Revenue 2022,Employees 2022,Year
0,1,Blue Motor Finance,United Kingdom,Financial Services,"51,364%",701.4%,61.4,155,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1,2,Deliveroo,United Kingdom,Food & Beverage,"15,749%",441.2%,316.1,1664,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
2,3,Taxify,Estonia,Technology,"12,231%",397.7%,17.8,350,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
3,4,Solectric,Germany,Technology,"7,772%",328.6%,40.9,30,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
4,5,Psioxus Therapeutics,United Kingdom,Pharmaceuticals,"7,126%",316.5%,64.4,69,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019

In [135]:
sector_mapping = {
    'Aerospace & Defence':'Defence',
    'Advertising & Marketing': 'Sales & Marketing',
    'Advertising': 'Sales & Marketing',
    'Sales & Marketing': 'Sales & Marketing',
    'Sales And Marketing': 'Sales & Marketing',
    'Automobiles': 'Automotive', 
    'Agricultural Commodities': 'Agricultural',
    'Agriculture, Forestry & Fishing': 'Agricultural',
    'Apparel & Fashion': 'Fashion',
    'Chemicals & Pharmaceuticals': 'Chemicals',
    'Construction & Engineering': 'Construction',
    'Education & Social Services': 'Education',
    'Energy & Utilities': 'Energy',
    'Food & Beverages': 'Food & Beverage',
    'Fintech, Financial Services & Insurance': 'Financial Services',
    'Fintech': 'Financial Services',
    'Healh': 'Health',
    'Health Care & Life Sciences': 'Health',
    'Law': 'Legal', 
    'Legal & Accounting Services': 'Legal',
    'Media & Telecommunications': 'Media',
    'Telecoms': 'Media',
    'Pharmaceuticals & Cosmetics':'Pharmaceuticals',
    'Precious Metals':'Mining',
    'Property':'Real Estate',
    'Restaurants':'Hospitality',
    'Hospitality & Travel':'Hospitality',
    'Logistics & Transportation':'Transport',
    'Waste Management & Recycling':'Waste Management'
}



# for row_index, row_val in enumerate(master_df['Sector']):
#     for key, val in sector_mapping.items():
#         if row_val == key:
#             master_df.iloc[[row_index, master_df.columns.get_loc('Sector')]] = val
#             break

for key, val in sector_mapping.items():
    master_df.loc[key, 'Sector'] = val


master_df.head()

,Rank,Name,Country,Sector,Absolute Growth Rate,Compound Annual Growth Rate,Revenue 2017,Employees 2017,Founded,Revenue 2018,Revenue 2015,Employees 2018,Revenue 2019,Revenue 2016,Employees 2019,Employees 2016,Revenue 2020,Employees 2020,Revenue 2021,Employees 2021,Revenue 2022,Employees 2022,Year
0,1,Blue Motor Finance,United Kingdom,Financial Services,"51,364%",701.4%,61.4,155,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1,2,Deliveroo,United Kingdom,Food & Beverage,"15,749%",441.2%,316.1,1664,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
2,3,Taxify,Estonia,Technology,"12,231%",397.7%,17.8,350,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
3,4,Solectric,Germany,Technology,"7,772%",328.6%,40.9,30,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
4,5,Psioxus Therapeutics,United Kingdom,Pharmaceuticals,"7,126%",316.5%,64.4,69,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019

In [136]:
current_directory = os.getcwd()

# Define the file path for saving the CSV
file_path = os.path.join(current_directory, 'data.csv')

# Save the DataFrame to a CSV file
master_df.to_csv(file_path, index=False)

# Analysis

In [137]:
# get top 10 most frequent names
n = 20
frequenct_sector = master_df['Sector'].value_counts()[:n].index.tolist()

frequenct_sector

['Technology',
 'Ecommerce',
 'It & Software',
 'Construction',
 'Support Services',
 'Retail',
 'Management Consulting',
 'Industrial Goods',
 'Construction & Engineering',
 'Energy',
 'Advertising',
 'Fintech, Financial Services & Insurance',
 'Food & Beverage',
 'Energy & Utilities',
 'Advertising & Marketing',
 'Automobiles',
 'Health',
 'Financial Services',
 'Transport',
 'Fintech']

## Run to load info from .csv

In [82]:
# df = pd.read_csv('data/web-scraped-result.csv',
#                 delimiter=',',            # Comma as delimiter
#                  quotechar='"',            # Use double quotes for quoting
#                 quoting=csv.QUOTE_MINIMAL,  # Minimal quoting (or csv.QUOTE_ALL as needed)
#                 doublequote=True, 
#                 encoding='utf-8',
#                 )
# df.head()